*{
	/*CSS Reset
		resets the premade
	*/
	margin:  0;
	padding:  0;

	/*
		without box-sizing - the browser will use the default method of computing the dimentions of a box.
			border+padding+content-width/height
			for div1:  ;
				2px lb/tp+20px lp/tp+100px w/height+20px rp/lp+2px rb/lb 

		box-sizing - it determines how the dimensions of a box will be computed. The border and padding will be included
	*/
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

#div1{
	/*
		margin is the space outside the element/ space putside the border of the element
		padding is the space between the content box and the border
	*/
	/*margin:  50px;*/
	padding: 20px;
	border:  2px solid black;
	height: 100px;
	width:  100px;
	display: inline-block;
}

#div2{
	/*margin:  25px 100px;*/
	/*margin:  10px 70px 50px*/
	/*margin:  100px 10px 15px 50px;*/

	border:  2px solid black;
	padding:  20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

#span1{
	/*the absence of padding will cause the browser to start measuring the dimentions of the element from the top-most and left-most portion of the element*/
	display:  inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px; 
}

#span2{
	display:  inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}



